/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/073b7dbb-03a2-490a-95a7-532642183286/f445ea95-94c7-4ccf-a763-b04ed69574f3/BR-pt-20230821-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 150px;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px;
    max-width: 450px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 28px;
}

.input {
    background-color: #333;
    border: none;
    padding: 16px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}

.login-button {
    background-color: #e50914;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 24px;
}

.login-button:hover {
    background-color: #f40612;
}

.help-text {
    margin-top: 16px;
    color: #b3b3b3;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.signup-text {
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.signup-text a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}